.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom:  150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

.offers-right img {
    border: 3px solid #000; /* Cor e espessura da borda */
    border-radius: 10%; /* Borda totalmente arredondada */
    object-fit: cover; /* Garante o ajuste correto */
    border: none;
}

@media (max-width: 1280px) {  
    .offers {  
        padding: 0px 80px;  
        margin-bottom: 120px;  
    }  
    .offers-left h1 {  
        font-size: 40px;  
    }  
    .offers-left p {  
        font-size: 18px;  
    }  
    .offers-right img {  
        max-width: 280px;  
        height: auto;
        object-fit: contain;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }  
    .offers-right {
        padding-top: 30px;
    }
}

@media (max-width: 1024px) {  
    .offers {  
        padding: 0px 60px;  
        margin-bottom: 80px;
        height: auto;  
    }  
    .offers-left h1 {  
        font-size: 30px;  
    }  
    .offers-left p {  
        font-size: 16px;  
    }  
    .offers-right img {  
        max-width: 220px;  
        height: auto;
        object-fit: contain;
    }
    .offers-left button {
        width: 160px;
        height: 40px;
        font-size: 16px;
    }  
    .offers-right {
        padding-top: 10px;
    }
}

@media (max-width: 800px) {  
    .offers {  
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
        overflow: hidden;
    }    
    .offers-left h1 {  
        font-size: 22px;  
        text-align: center;
    }  
    .offers-left p {  
        font-size: 13px;  
        text-align: center;
    }  
    .offers-right img {
        width: auto;
        max-width: 200px;
        height: auto;
        object-fit: contain;
    }
    .offers-left button {
        width: 140px;
        height: 30px;
        font-size: 12px;
        margin: auto;
    }  
}

@media (max-width: 500px) {  
    .offers {  
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }  

    .offers-left {
        text-align: center;
        max-width: 100%;
    }

    .offers-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .offers-left h1 {  
        font-size: 16px;  
    }  

    .offers-left p {  
        font-size: 12px;  
    }  

    .offers-right img {  
        width: auto;
        max-width: 150px;
        height: auto;
        object-fit: contain;
    }

    .offers-left button {
        width: 120px;
        height: 30px;
        font-size: 12px;
        margin-top: 10px;
    }  
}
